<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.upb.programacion32020">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DetallesPersonaActivity" />
        <activity android:name=".PersonasSpinnerActivity" />
        <activity android:name=".PersonasRecyclerActivity" />
        <activity android:name=".PersonasListViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name=".ProductosActivity" />
        <activity android:name=".EditarActivity" />
        <activity android:name=".SolucionExamenActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RelativeLayoutActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LinearLayoutActivity" />
        <activity android:name=".LayoutInsideLayoutActivity" />
        <activity android:name=".AbsoluteLayoutActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.upb.programacion32020.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>